<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Bienvenido a {{var store.getFrontendName()}}.</h1>
            <p>Haz click en <a href="{{store url="customer/account/"}}">Acceder</a> o <a href="{{store url="customer/account/"Mi cuenta</a> en la parte superior de la página, y después ingresa tu correo electronico y contraseña.</p>
            <p class="highlighted-text">
                Usa la siguiente información para iniciar sesión<br/>
                <strong>Email</strong>: {{var customer.email}}<br/>
                <strong>Contraseña</strong>: {{htmlescape var=$customer.password}}
            </p>
            <p>Cuendo hayas accedido a tu cuenta, podrás hacer lo siguiente:</p>
            <ul>
                <li>Poder realizar compras más rapidamente</li>
                <li>Consultar el estado de los pedidos</li>
                <li>Ver pedidos pasados</li>
                <li>Cambiar informacion de la cuenta</li>
                <li>CCambiar tu contraseña</li>
                <!--<li>Store alternative addresses (for shipping to multiple family members and friends!)</li>-->
            </ul>
            <p>
                Si tienes alguna pregunta, contacta con nosotros a través de nuestro correo electrónico
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} o de nuestro telefono: <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
